<?xml version="1.0"?>
<!--
/**
 * Copyright © 2023, Open Software License ("OSL") v. 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Space\Blog\Api\Data\ConfigInterface" type="Space\Blog\Model\Config" />
</config>
