<?xml version="1.0"?>
<!--
/**
 * Copyright © 2023, Open Software License ("OSL") v. 3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="space_blog" frontName="space_blog">
            <module name="Space_Blog" before="Magento_Backend" />
        </route>
    </router>
</config>
